@charset "utf-8";

/* ################################## */
/* Basic Elements */
/* ################################## */

html {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
}

body {
	margin: 0;
	padding: 0;
	font: 100%/1.5 Helvetica, Arial, sans-serif;
	color: #000;
	background: #EEE8D8;
}

p {
	margin-bottom: 0;
	margin-top: 0;
	font-size: 75%;
	text-align: left;
}

h1, h2, h3 {
	margin-top: -10px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bolder;
	font-size: 24px;
}

h2 {
	font-size: 100%;
	font-weight: bolder;
	border-bottom: 2px solid #000;
}

h3 {
	margin-bottom: 0;
	margin-top: 0px;
	font-size: 90%;
}

h4 {
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 0;
	font-size: 12px;
	text-align: center;
}

h5 {
	margin-bottom: 0;
	margin-top: 0px;
	font-size: 82%;
	margin-left: 35px;
}
	
ul, li {
    margin-left:0px;
    margin-right:50px;
    margin-bottom:2px;
    text-align:justify;
}

ul.indent {
    margin-left:50px;
}

a {
	text-decoration: none;
	color: #1933A9;
}

a:hover {
	text-decoration: underline;
}

img {
	border: 1px solid #000;
}

strong {
	font-weight: bold;
}

table {
	width: 95%;
	font-size: 75%;
	border-collapse: separate;
	border-style: hidden;
	border-spacing: 0px 5px;
}

table.full {
	border-collapse: collapse;
	border: 1px solid #666;
}

table.full th {
	border: 1px solid #666;
}

table.full td {
	border: 1px solid #666;
}

table.full td.week {
	width: 25%;
}

fieldset {
	border-bottom: none;
	border-left: none;
	border-right: none;
	border-top: 2px solid #2BAB9A;
}

fieldset legend {
	margin-left: 1em;
	font-size: 90%;
	font-weight: bold;
}

fieldset select {
	margin-left: 2em;
}

/* ################################## */
/* Classes */
/* ################################## */

/* This class is to be used to for headings that
   should not be displayed on the rendered page.
   Mainly navigation lists. */
   
.headernav {
	position: absolute;
	left: -5000px;
	width: 4000px;
}

/* ################################## */

/* This class is for use on the People pages to
   form the listings with photos. */

.people {
	margin: 1em 0 0 0;
	height: 120px;
}

.people img {
	margin: 0 1em 0 0;
	border: 1px solid #000;
}

.textreg {
	FONT-SIZE: 80%;
	COLOR: #2BAB9A;
	FONT-FAMILY: Georgia, "Times New Roman", Times, serif;
}

/* ################################## */

/* Thess classes are for use with Lists */

.listmargin {
	margin-left: 2.5em;
	padding: 0;
}

/* ################################## */

/* These classes are for floats. */

.fltleft {
	float: left;
	margin: 1em 1em 1em 0em;
}

.fltright {
	float: right;
	margin: 0 0 1em 1em;
}

.clearright {
	clear: right;
}

.clearleft {
	clear: left;
}

.clearflt {
	clear: both;
}

/* ################################## */
/* Divs */
/* ################################## */

#container {
	width: 55em;
	overflow: hidden;
	margin: 0px auto;
	padding: 0;
	top: 0;
	left: 0;
	text-align: left;
	border: 1px solid #333;
	background: #FEFEFE;
}
/* ################################## */

#banner {
	position: relative;
	padding: 80px 80px 100px 80px;
	font-family: georgia, times, "times new roman", serif;
	color: #000;
	border-bottom: 1px solid #000;
	background: #000 url(../images/header.JPG) no-repeat;
	background-color: #000000;
}

#banner h1 {
	margin: 0;
	padding: 32px 0 0 225px;
	font-size: 150%;
	font-weight: normal;
	color: #000;
}

#banner h1 a {
	color: #000;
}

#banner img {
	margin: 0;
	padding: 0 0 0 0;
	border: 0px;
}

#banner ul {
	position: absolute;
	margin: 0;
	left: 4px;
	top: -16px;
	font-size: 62.5%;
	line-height: 100%;
	width: 100%;
	padding: 0;
	border-bottom: 1px solid #000;
	background: #000;
}

#banner li {
	display: inline;
	padding: 0px 0px 0px 10px;
	color: #000;
}

#banner li a {
	padding-right: 1em;
	color: #000;
}

#banner li a:hover {
	background: #000;
	color: #000;
}
/* ##################################### */

#sectnav {
	float: left;
	width: 11em;
	margin: 2em 0 0 0;
	padding: 0 0 0 1em;
	border-right: 2px solid #000;
	padding-bottom: 1em
}

#sectnav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#sectnav ul li {
	margin: .6em 0;
}

#sectnav ul li a {
	display: block;
	font-size: 100%;
	font-weight: bold;
	color: #000;
	background-color: #ffffff;
	border-bottom: 2px solid #000;
}

#sectnav ul li a:hover {
	text-decoration: none;
	background: #339966;
	text-align: left;
}

#sectnav ul li a.active {
	background: #FFFFCC;
}

#sectnav ul li ul li a {
	margin: 0 0 0 2em;
	font-size: 75%;
	font-weight: normal;
}

#sectnav ul li ul li ul li a {
	margin: 0 0 0 4em;
	font-size: 75%;
	font-weight: normal;
}

/* ###################################### */

#main {
	float: none;
	width: 40em;
	margin: 1em 0 0 13em;
	padding: 1em;
	font-size: 12pt;
}

#main ul {
	margin-top: 0px;
	padding-left: 2em;
	list-style: outside disc;
	text-indent: hanging;
}

#main ul.nodisc {
	list-style: none;
}

#main ul li {
	font-size: 75%;
}

#main ul li ul li {
	font-size: 100%;
}

#main ol {
	margin-top: 0;
	margin-left: 0;
	padding-left: 2em;
	list-style: outside decimal;
}

#main ol li {
	font-size: 75%;
}

/* ###################################### */
#lastupdated {
	margin: 0;
}

#footer {
	clear: both;
	margin: 0;
	padding: 6em;
	border-top: 1px solid #333;
	background: #6CB1DB url(../images/footer.JPG) center; 
}

/* ##################################### */
